
@media (max-width: 1280px) {
  .app{
    width: 1000px;
    height: 900px;
  }

  #leaderboard, #settings, #start-game{
    width: 500px;
  }

  #close-button, #back-button, #back-button-leader, #back-button-game{
    top: 10%;
    left: 10%;
  }  
}


@media (max-width: 1024px) {
  .app{
    width: 800px;
    height: 900px;
  }

  #leaderboard, #settings, #start-game{
    width: 500px;
  }

  #close-button, #back-button, #back-button-leader, #back-button-game{
    top: 10%;
    left: 10%;
  }  
}

@media (max-width: 768px){
  .app{
    width: 500px;
    height: 900px;
  }

  #leaderboard, #settings, #start-game{
    width: 400px;
  }

  #close-button, #back-button, #back-button-leader, #back-button-game{
    top: 10%;
    left: 10%;
  }  
}


@media (max-width: 576px) {
  .app{
    width: 390px;
    height: 700px;
  }

  #leaderboard, #settings, #start-game{
    width: 300px;
  }

  #close-button, #back-button, #back-button-leader, #back-button-game{
    top: 10%;
    left: 10%;
  }  
}

