*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select{
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--base-color);
  color: var(--text-color)
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  color: black;
}

.dropdown-btn {
  width: 300px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  min-width: 120px;
  text-align: left;
}

.dropdown-content {
  width: 300px;
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  z-index: 1000;
  padding: 10px;
}

.dropdown-content label {
  display: block;
  padding: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}
.dropdown-content label:hover {
  background: var(--secondary-color);
  font-weight: bold;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content input[type="radio"] {
  display: none;
}

#submit-button{
  width: 200px;
  height: 30px;
  font-size: 2rem;
  color: var(--text-color);
  background: var(--tertiary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}